<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jogl.swt.utils.views.JOGLView"
            id="jogl.swt.utils.views.JOGLView"
            name="JOGLView"
            restorable="true">
      </view>
   </extension>

</plugin>
