<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jogl.swt.sb6.examples.maincategory"
            name="OpenGL SuperBible 6 Code Examples">
      </category>
      <view
            category="jogl.swt.sb6.examples.maincategory"
            class="jogl.swt.sb6.examples.StaticCube"
            id="jogl.swt.sb6.examples.example_static_cube"
            name="Cube"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.maincategory"
            class="jogl.swt.sb6.examples.SB6MRender"
            id="jogl.swt.sb6.examples.sb6mrender"
            name="SB6MRender"
            restorable="true">
      </view>
      <category
            id="jogl.swt.sb6.examples.chapter2"
            name="Chapter 2"
            parentCategory="jogl.swt.sb6.examples.maincategory">
      </category>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_1"
            id="jogl.swt.sb6.examples.chapter2.example_2_1"
            name="Example_2_1"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_2"
            id="jogl.swt.sb6.examples.chapter2.example_2_2"
            name="Example_2_2"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_3"
            id="jogl.swt.sb6.examples.chapter2.example_2_3"
            name="Example_2_3"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_4"
            id="jogl.swt.sb6.examples.chapter2.example_2_4"
            name="Example_2_4"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_1"
            id="jogl.swt.sb6.examples.chapter3.example_3_1"
            name="Example_3_1"
            restorable="true">
      </view>
      <category
            id="jogl.swt.sb6.examples.chapter3"
            name="Chapter 3"
            parentCategory="jogl.swt.sb6.examples.maincategory">
      </category>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_2"
            id="jogl.swt.sb6.examples.chapter3.example_3_2"
            name="Example_3_2"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_3"
            id="jogl.swt.sb6.examples.chapter3.example_3_3"
            name="Example_3_3"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_4"
            id="jogl.swt.sb6.examples.chapter3.example_3_4"
            name="Example_3_4"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_5"
            id="jogl.swt.sb6.examples.chapter3.example_3_5"
            name="Example_3_5"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_6"
            id="jogl.swt.sb6.examples.chapter3.example_3_6"
            name="Example_3_6"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_7"
            id="jogl.swt.sb6.examples.chapter3.example_3_7"
            name="Example_3_7"
            restorable="true">
      </view>
      <category
            id="jogl.swt.sb6.examples.chapter5"
            name="Chapter 5"
            parentCategory="jogl.swt.sb6.examples.maincategory">
      </category>
      <view
            category="jogl.swt.sb6.examples.chapter5"
            class="jogl.swt.sb6.examples.chapter5.Example_5_1"
            id="jogl.swt.sb6.examples.chapter5.example_5_1"
            name="Example_5_1"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter5"
            class="jogl.swt.sb6.examples.chapter5.Example_5_2"
            id="jogl.swt.sb6.examples.chapter5.example_5_2"
            name="Example_5_2"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter5"
            class="jogl.swt.sb6.examples.chapter5.Example_5_alien_rain"
            id="jogl.swt.sb6.examples.chapter5.example_5_alien_rain"
            name="Example_5_alien_rain"
            restorable="true">
      </view>
      <category
            id="jogl.swt.sb6.examples.chapter7"
            name="Chapter 7"
            parentCategory="jogl.swt.sb6.examples.maincategory">
      </category>
      <view
            category="jogl.swt.sb6.examples.chapter7"
            class="jogl.swt.sb6.examples.chapter7.Example_7_1"
            id="jogl.swt.sb6.examples.chapter7.example_7_1"
            name="Example_7_1"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter7"
            class="jogl.swt.sb6.examples.chapter7.Example_7_2"
            id="jogl.swt.sb6.examples.chapter7.example_7_2"
            name="Example_7_2"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter7"
            class="jogl.swt.sb6.examples.chapter7.Example_7_3"
            id="jogl.swt.sb6.examples.chapter7.example_7_3"
            name="Example_7_3"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter7"
            class="jogl.swt.sb6.examples.chapter7.Example_7_4"
            id="jogl.swt.sb6.examples.chapter7.example_7_4"
            name="Example_7_4"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter7"
            class="jogl.swt.sb6.examples.chapter7.Example_7_5"
            id="jogl.swt.sb6.examples.chapter7.example_7_5"
            name="Example_7_5"
            restorable="true">
      </view>
      <category
            id="jogl.swt.sb6.examples.chapter8"
            name="Chapter 8"
            parentCategory="jogl.swt.sb6.examples.maincategory">
      </category>
      <view
            category="jogl.swt.sb6.examples.chapter8"
            class="jogl.swt.sb6.examples.chapter8.Example_8_1"
            id="jogl.swt.sb6.examples.chapter8.example_8_1"
            name="Example_8_1"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter8"
            class="jogl.swt.sb6.examples.chapter8.Example_8_2"
            id="jogl.swt.sb6.examples.chapter8.example_8_2"
            name="Example_8_2"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.maincategory"
            class="jogl.swt.sb6.examples.TeapotView"
            id="jogl.swt.sb6.examples.example_teapot_tesselation"
            name="Teapot"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter8"
            class="jogl.swt.sb6.examples.chapter8.Example_8_3"
            id="jogl.swt.sb6.examples.chapter8.example_8_3"
            name="Example_8_3"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.maincategory"
            class="jogl.swt.sb6.examples.WireframeGS"
            id="jogl.swt.sb6.examples.example_geometryshader_wireframe"
            name="WireframeGS"
            restorable="true">
      </view>
   </extension>

</plugin>
