<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jogl.swt.sb6.examples.maincategory"
            name="OpenGL SuperBible 6 Code Examples">
      </category>
      <category
            id="jogl.swt.sb6.examples.chapter2"
            name="Chapter 2"
            parentCategory="jogl.swt.sb6.examples.maincategory">
      </category>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_1"
            id="jogl.swt.sb6.examples.chapter2.example_2_1"
            name="Example_2_1"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_2"
            id="jogl.swt.sb6.examples.chapter2.example_2_2"
            name="Example_2_2"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_3"
            id="jogl.swt.sb6.examples.chapter2.example_2_3"
            name="Example_2_3"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter2"
            class="jogl.swt.sb6.examples.chapter2.Example_2_4"
            id="jogl.swt.sb6.examples.chapter2.example_2_4"
            name="Example_2_4"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_1"
            id="jogl.swt.sb6.examples.chapter3.example_3_1"
            name="Example_3_1"
            restorable="true">
      </view>
      <category
            id="jogl.swt.sb6.examples.chapter3"
            name="Chapter 3"
            parentCategory="jogl.swt.sb6.examples.maincategory">
      </category>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_2"
            id="jogl.swt.sb6.examples.chapter3.example_3_2"
            name="Example_3_2"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_3"
            id="jogl.swt.sb6.examples.chapter3.example_3_3"
            name="Example_3_3"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_4"
            id="jogl.swt.sb6.examples.chapter3.example_3_4"
            name="Example_3_4"
            restorable="true">
      </view>
      <view
            category="jogl.swt.sb6.examples.chapter3"
            class="jogl.swt.sb6.examples.chapter3.Example_3_5"
            id="jogl.swt.sb6.examples.chapter3.example_3_5"
            name="Example_3_5"
            restorable="true">
      </view>
   </extension>

</plugin>
